body {
  margin: 0;
  display: grid;
  place-items: center;
  padding: 20px;
  height: 100hv;

  font-family: sans-serif;

  background-image: url(../asset/images/pexels-nadezhda-moryak-8676607.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.weather-app {
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 40px;

  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);

  border-radius: 10%;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 10px 25px -5px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

header {
  display: flex;
  color: rgb(5, 51, 46);
  justify-content: center;
  margin: 15px;
}
h1 {
  font-family: sans-serif;
  font-weight: 700;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 5px;
}

input,
button {
  border-radius: 10px;
  border-style: hidden;
}

@media (min-width: 600px) {
  .weather-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
  }
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-weight: 600;
}

.weather-location {
  color: rgba(59, 88, 93, 0.45);
}

.weather-temp,
.weather-desc {
  font-size: x-large;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 5px;
}

.weather-details-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: rgb(129, 141, 141);
  box-sizing: border-box;
  border-radius: 10%;
  border-style: solid;
  padding: 10px;
}

.weather-forecast-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  padding: 20px;
  gap: 10px;
}

.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(azure, rgb(186, 215, 219));
  box-sizing: border-box;
  border-radius: 10%;
  padding: 10px;
}
